Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*

chore: Update storage bucket name in values-staging.yaml and reliably get package info
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/app/tests.py
  src/bot/utils/version.py
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, tests, source, k8s

chore: disable silky for staging environment
  k8s/helm/values-staging.yaml
Labels: k8s

chore: remove sorl.thumbnail from installed apps and templates
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
  src/web/templates/web/about/staff.html
  src/web/templates/web/about/translators.html
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/base.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/launches/launches_previous.html
  src/web/templates/web/launches/launches_upcoming.html
  src/web/templates/web/starship/starship_detail.html
  src/web/templates/web/vehicles/boosters/booster_detail.html
  src/web/templates/web/vehicles/boosters/booster_list.html
  src/web/templates/web/vehicles/boosters/boosters_search.html
  src/web/templates/web/vehicles/index.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicle_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_list.html
  src/web/templates/web/vehicles/spacestations/spacestations_details.html
  src/web/templates/web/vehicles/spacestations/spacestations_list.html
  src/web/templates/web/views/small_launch_card.html
  src/web/templates/web/views/small_space_station.html
Labels: deps, config, source, k8s

chore: update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: performance improvments main page
  src/spacelaunchnow/urls.py
  src/web/templates/web/launches/launch_detail_page.html
  src/web/views.py
Labels: source

chore: refactor next_launch view to improve performance and remove unnecessary code
  src/web/views.py
Labels: source

4.4.8
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: update python-semantic-release to v9.8.6
  .github/workflows/build-master.yml
Labels: actions

chore(ll): bump lib version
  poetry.lock
  pyproject.toml
Labels: deps, config

refactor(fcm): refactor FCM settings and notification handlers
  k8s/helm/templates/notification-service/deployment.yaml
  k8s/helm/templates/web/deployment.yaml
  poetry.lock
  pyproject.toml
  src/bot/app/events/notification_handler.py
  src/bot/app/notification_service.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/notification_handler.py
  src/bot/management/commands/run_send_event_notification.py
  src/bot/management/commands/run_send_notification.py
  src/bot/tests/test_notification_handler.py
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, tests, source, k8s

fix: update django-launch-library version to 20.10.0 to change launch_cost
  poetry.lock
  pyproject.toml
Labels: deps, config

4.4.9
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update django-launch-library version to 21.0.0 launch cost
  poetry.lock
  pyproject.toml
Labels: deps, config

4.4.10
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(bot): update notification service
  .gitignore
  .vscode/SpaceLaunchNow-Server.code-workspace
  k8s/helm/templates/notification-service/deployment.yaml
  poetry.lock
  pyproject.toml
  src/app/models.py
  src/bot/app/notifications/notification_handler.py
  src/bot/management/commands/run_check_notifications.py
  src/bot/management/commands/run_send_notification.py
Labels: deps, config, source, k8s

chore: update django-launch-library version to 21.2.1
  poetry.lock
Labels: deps

4.5.0
  CHANGELOG.md
  pyproject.toml
Labels: config

chore(vscode): add vscode configs to git
  .vscode/launch.json
Labels: none

refactor(notification): optimize webcast check in send_v3_notification
  src/bot/app/notifications/notification_handler.py
Labels: source

fix(notifs): pass webcast as string
  src/bot/app/notifications/notification_handler.py
Labels: source

4.5.1
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(notification): fix notification handling
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/notification_handler.py
  src/bot/management/commands/run_send_notification.py
Labels: source

4.5.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: add meridiem indicator to the 12-hour time format
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
Labels: source

ci: upgrade to actions/upload-artifact@v4.6.2
  .github/actions/python-test/action.yml
Labels: actions

fix: Update Python version constraint and dependencies in pyproject.toml
  .github/actions/setup-poetry/action.yml
  .github/workflows/build-master.yml
  .pre-commit-config.yaml
  .vscode/SpaceLaunchNow-Server.code-workspace
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

fix(ci): fixed issue with upload artifcat
  .github/actions/python-test/action.yml
Labels: actions

4.5.3
  CHANGELOG.md
  pyproject.toml
Labels: config

4.5.4
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: change notification handling, update ruff
  poetry.lock
  pyproject.toml
  src/bot/app/notifications/notification_handler.py
Labels: deps, config, source

refactor: use f-strings for string formatting in multiple files
  src/app/models.py
  src/app/sitemaps.py
  src/autoscaler/autoscaler.py
  src/bot/app/notifications/netstamp_handler.py
  src/bot/app/sync/news_sync.py
  src/bot/utils/util.py
  src/web/tests.py
Labels: tests, source

4.5.5
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: Implement Grafana secret management and configuration updates
  k8s/monitoring/values_sln.yaml
  k8s/secrets-management/GRAFANA_SECURITY.md
  k8s/secrets-management/grafana-admin-secret.yaml.template
  k8s/secrets-management/grafana-external-secret.yaml
  k8s/secrets-management/manage-secrets.sh
  k8s/secrets-management/secrets-config.yaml
  manifests/infrastructure/external-secrets/kustomization.yaml
Labels: k8s

feat: Add pr tests
  .github/workflows/pr-checks.yml
Labels: actions

fix: issue with poetry lock file
  .github/workflows/pr-checks.yml
  poetry.lock
Labels: actions, deps

feat: Add configuration for Poetry private repository access in CI workflows and documentation
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  docs/PRIVATE_PYPI_SETUP.md
Labels: actions, docs

feat: troubleshoot CI issues
  .github/workflows/pr-checks.yml
  Dockerfile
Labels: actions

feat: enhance Dockerfile with detailed debugging for TSD repository access
  Dockerfile
  Dockerfile.debug
Labels: none

fix: test TSD repository connectivity
  Dockerfile
Labels: none

refactor: simplify Dockerfile back
  Dockerfile
Labels: none
