Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

fix(digitalocean_helper): adjust minimum pod count for single node scenario
  src/autoscaler/digitalocean_helper.py
Labels: source

4.39.8
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: update Python version and dependencies in pyproject.toml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/pr-checks.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

Implement V5 Custom Notifications and Update Notification Delivery Matrix
  docs/superpowers/specs/2026-05-15-v5-news-notifications-design.md
  docs/superpowers/specs/2026-05-25-v5-custom-notifications-server-design.md
  docs/superpowers/specs/2026-05-25-v5-only-notification-delivery-matrix.md
  src/bot/app/events/event_tracker.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/launch_event_tracker.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/utils.py
  src/bot/tests/test_v5_notifications.py
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/urls.py
Labels: docs, tests, source

fix: update README to include API in project description
  README.md
Labels: docs

refactor: simplify mock patching in CheckNewsItemTests and CheckCustomTests
  src/bot/tests/test_v5_notifications.py
Labels: tests, source

chore: disable package upload and adjust build command in CI configuration
  .github/workflows/ci.yml
  pyproject.toml
Labels: actions, config

4.40.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: enhance ArticleNotificationAdmin with detailed fields and methods for article retrieval
  src/bot/admin.py
  src/bot/app/notifications/news_notification_handler.py
Labels: source

4.41.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

chore: add Terraform configuration files for DigitalOcean and Cloudflare integration
  terraform/.terraform.lock.hcl
  terraform/backend.tf
  terraform/dns.tf
  terraform/main.tf
Labels: none

chore: update .gitignore to track the Terraform provider lock file
  .gitignore
Labels: config

feat(notifications): implement apns-collapse-id for V5 iOS notifications to enable notification collapse
  docs/superpowers/plans/2026-06-20-ios-apns-collapse-id.md
  docs/superpowers/specs/2026-06-20-ios-apns-collapse-id-design.md
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/v5.py
  src/bot/tests/test_apns_collapse_id.py
Labels: docs, tests, source

4.42.0
  CHANGELOG.md
  pyproject.toml
Labels: config

chore: remove deprecated Terraform configuration and scripts
  .gitignore
  terraform/.terraform.lock.hcl
  terraform/backend.tf
  terraform/deploy.sh
  terraform/dns.tf
  terraform/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Labels: config

feat(notifications): add Prometheus send/recipient counters and metrics endpoint
  poetry.lock
  pyproject.toml
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/metrics.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/v5.py
  src/bot/management/commands/run_notification_service.py
  src/bot/tests/test_notification_metrics.py
Labels: deps, config, tests, source

🔄 Update Python dependencies
  poetry.lock
Labels: deps

4.43.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

docs(observability): add remote diagnostics control runbook
  docs/runbooks/remote-diagnostics-control.md
Labels: docs

fix(autoscaler): adjust in-flight launch handling and time thresholds
  src/autoscaler/autoscaler.py
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
  src/spacelaunchnow/settings/__init__.py
Labels: tests, source

test(autoscaler): fix in-flight test boundary and no-op scaling mock
  src/autoscaler/tests.py
Labels: tests, source

4.43.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

docs(web): spec consistent, labeled launch times
  docs/superpowers/specs/2026-08-11-launch-time-display-design.md
Labels: docs

docs(web): move launch-time precision mapping server-side
  docs/superpowers/specs/2026-08-11-launch-time-display-design.md
Labels: docs

fix(web): show launch times in local and UTC with explicit labels
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/example_config.py
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/urls.py
  src/static/material_kit/js/launch-time.js
  src/static/material_kit/js/moment-timezone.min.js
  src/web/tables/launch_table.py
  src/web/templates/web/app.html
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/base.html
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/includes/launch_time.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/views/small_launch_card.html
  src/web/templatetags/sln_utils.py
  src/web/tests.py
  src/web/tests_launch_time.py
  src/web/views.py
Labels: deps, config, tests, source

style(web): apply ruff format to launch time tests
  src/web/tests.py
Labels: tests, source

test(web): use trailing-slash launch URL in mobile date test
  src/web/tests.py
Labels: tests, source

chore(lint): pin ruff 0.16.2 across CI, pre-commit and poetry
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/web/views.py
Labels: actions, deps, config, source

4.43.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(settings): configure STORAGES so collectstatic uploads to Spaces
  README.md
  docs/runbooks/static-assets.md
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/tests_storages.py
Labels: docs, tests, source

4.43.3
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(web): point canonicals at spacelaunchnow.app and de-duplicate page metadata
  src/web/templates/web/about/about.html
  src/web/templates/web/about/staff.html
  src/web/templates/web/about/translators.html
  src/web/templates/web/app.html
  src/web/templates/web/app/bot.html
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/events/event_list.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/launches/launches_previous.html
  src/web/templates/web/launches/launches_table.html
  src/web/templates/web/launches/launches_upcoming.html
  src/web/templates/web/starship/starship_detail.html
  src/web/templates/web/vehicles/boosters/booster_detail.html
  src/web/templates/web/vehicles/boosters/booster_list.html
  src/web/templates/web/vehicles/boosters/boosters_search.html
  src/web/templates/web/vehicles/index.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicle_detail.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicles_list.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_list.html
  src/web/templates/web/vehicles/spacestations/spacestations_details.html
  src/web/templates/web/vehicles/spacestations/spacestations_list.html
  src/web/templates/web/views/small_launch_card.html
Labels: source

4.43.4
  CHANGELOG.md
  pyproject.toml
Labels: config

docs(spec): design for responsive template merge and iOS app funnel
  docs/superpowers/specs/2026-08-12-responsive-templates-app-funnel-design.md
Labels: docs

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
