Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

chore: update GitHub Actions workflow for dependency management
  .github/workflows/dependencies.yml
Labels: actions

🔄 Update Python dependencies
  dependency-changes.diff
  poetry.lock
Labels: deps

feat: enhance dependency update workflow with detailed package summary and cleanup
  .github/workflows/dependencies.yml
Labels: actions

chore: improve depedency update summary
  .github/workflows/dependencies.yml
Labels: actions

4.20.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

chore: enhance package summary generation in dependency update workflow
  .github/workflows/dependencies.yml
Labels: actions

fix: update notification v3 to not send data
  src/bot/app/notifications/notification_handler.py
Labels: source

4.20.1
  CHANGELOG.md
  pyproject.toml
Labels: config

chore: update dependencies workflow for improved efficiency
  .github/workflows/dependencies.yml
Labels: actions

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix: try notification fix
  src/bot/app/notifications/notification_handler.py
Labels: source

4.20.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: adjust autoscaler
  src/autoscaler/autoscaler.py
  src/autoscaler/digitalocean_helper.py
Labels: source

test: fix unit tests for autoscaler functionality
  src/autoscaler/tests.py
Labels: tests, source

4.20.3
  CHANGELOG.md
  pyproject.toml
Labels: config

ci: add script to parse package updates and manage dependencies
  .github/scripts/parse-package-updates.py
  .github/workflows/dependencies.yml
  test-after.txt
  test-before.txt
  test-outdated.txt
  test-packages.txt
Labels: actions

🔄 Update Python dependencies
  poetry.lock
Labels: deps

ci: update dependency update script
  .github/workflows/dependencies.yml
Labels: actions

fix: document pods per node and adjust minimum pod count
  src/autoscaler/digitalocean_helper.py
Labels: source

test: add unit tests for DigitalOceanHelper functionality
  src/autoscaler/tests.py
Labels: tests, source

4.20.4
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix: notification handling with message title and body for v3.5
  src/bot/app/notifications/notification_handler.py
Labels: source

4.20.5
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: enhance notification handling with v4 support for kmp
  src/bot/app/notifications/notification_handler.py
  src/bot/utils/util.py
Labels: source

4.21.0
  CHANGELOG.md
  pyproject.toml
Labels: config

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
