Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat(notifs): add notification mixins and handlers for v3, v4, and v5 FCM notifications
  src/bot/app/notifications/__init__.py
  src/bot/app/notifications/base.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/debug.py
  src/bot/app/notifications/discord.py
  src/bot/app/notifications/notification_handler.py
  src/bot/app/notifications/v3.py
  src/bot/app/notifications/v4.py
  src/bot/app/notifications/v5.py
  src/bot/utils/util.py
Labels: source

4.31.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat(ads): update AdsView to return multiple ad lines
  src/web/views.py
Labels: source

fix: update Ruff version to 0.12.12 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

fix: update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: deps, config

4.32.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix: update Privacy Policy and Terms of Service for Space Launch Now
  src/web/templates/web/app/privacy.html
  src/web/templates/web/app/tos.html
  src/web/templates/web/site/privacy.html
  src/web/templates/web/site/tos.html
Labels: source

4.32.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix: Add DISABLE_SERVER_SIDE_CURSORS for PgBouncer compatibility
  src/spacelaunchnow/settings/__init__.py
  src/web/views.py
Labels: source

4.32.2
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: Implement V5 event notification handling for Android and iOS
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/custom.py
Labels: source

4.33.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: update dependencies
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: deps, config

4.34.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: remove unused AWS S3 settings from configuration
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.34.1
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update minimum and maximum pod counts for DigitalOcean autoscaling
  src/autoscaler/digitalocean_helper.py
Labels: source

4.34.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update max pod count logic for DigitalOcean autoscaling
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
Labels: tests, source

fix: adjust MAX_PODS_PER_NODE to reflect actual memory usage and update import formatting
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
Labels: tests, source

4.34.3
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: change DEBUG_LOGGING to boolean and add logging configuration for boto3 and botocore
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.34.4
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: add access log configuration to gunicorn command in docker-compose
  docker/docker-compose.stack.yml
Labels: none

4.34.5
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add PinnedContent model and Firebase sync functionality
  .gitignore
  src/app/admin.py
  src/app/firebase_rc_service.py
  src/app/migrations/0003_pinnedcontent_eventnotificationproxy.py
  src/app/models.py
Labels: config, source

fix: update model imports and improve migration structure for PinnedContent and EventNotificationProxy
  src/app/migrations/0003_pinnedcontent_eventnotificationproxy.py
  src/app/models.py
Labels: source

4.35.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update MAX_PODS_PER_NODE value for accurate resource allocation
  src/autoscaler/digitalocean_helper.py
  src/spacelaunchnow/urls.py
Labels: source

fix: update API schema view for version 2.4.0
  src/spacelaunchnow/urls.py
Labels: source

4.35.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps
