Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*

4.11.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update project settings for improved configuration management
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.11.1
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: add json logging
  docker/docker-compose.test.yml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

4.11.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: remove debug print statement from launch_by_slug function
  src/web/views.py
Labels: source

4.11.3
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: handle additional response status code for node pool update
  src/autoscaler/digitalocean_helper.py
Labels: source

4.11.4
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add v2.3.1 API endpoint and adjust node pool configuration for production
  src/spacelaunchnow/urls.py
  terraform/main.tf
Labels: source

4.12.0
  CHANGELOG.md
  pyproject.toml
Labels: config

chore: update URL configuration for improved organization
  src/spacelaunchnow/urls.py
Labels: source

feat: update SPECTACULAR_SETTINGS for Space Launch Now
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.13.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add method to update KEDA ScaledObject min/max replicas based on expected worker count
  poetry.lock
  pyproject.toml
  src/autoscaler/autoscaler.py
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
Labels: deps, config, tests, source

4.14.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: enhance logging and error handling in DigitalOceanHelper and autoscaler
  src/autoscaler/autoscaler.py
  src/autoscaler/digitalocean_helper.py
Labels: source

fix: update autoscaler to use current_workers for scaling logic and improve logging
  src/autoscaler/autoscaler.py
Labels: source

4.15.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: enhance logging for KEDA ScaledObject updates with detailed configuration information
  src/autoscaler/digitalocean_helper.py
Labels: source

4.16.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(ll): Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: deps, config

feat: add copilot instructions
  .github/copilot-instructions.md
Labels: actions

fix: update API endpoints to version 2.4.0 with authentication
  src/spacelaunchnow/urls.py
Labels: source

4.17.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(ci): add safety package for dependency vulnerability scanning
  .github/actions/python-test-enhanced/action.yml
  .github/workflows/dependencies.yml
  .github/workflows/safety.yml
  .safety-project.ini
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

feat: move to using docker secrets and cleanup actions
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/performance.yml
  .github/workflows/pr-checks.yml
  .github/workflows/safety.yml
  Dockerfile
  docker/docker-compose.stack.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

fix(docker): fix docker build secrets issue
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  Dockerfile
  docker/README.md
  docker/docker-compose.stack.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
Labels: actions

chore: update workflows and Dockerfile for improved dependency management
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  Dockerfile
Labels: actions

chore: update PR checks workflow for improved efficiency and clarity
  .github/workflows/pr-checks.yml
Labels: actions

chore: clean up workflow files for better organization and readability
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/helm-chart.yml
  .github/workflows/pr-checks.yml
  Dockerfile
Labels: actions

chore: update CI/CD pipeline for improved organization and clarity
  .github/workflows/ci.yml
Labels: actions

4.18.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: clean up views.py for improved organization and readability
  src/web/views.py
Labels: source

feat: handles families for launch vehicle
  src/web/tables/launch_vehicle_table.py
  src/web/views.py
Labels: source

fix: enhance launch vehicle detail view with error handling and optimized queries
  src/web/views.py
Labels: source

4.19.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: n+1 query with events
  src/web/views.py
Labels: source

4.19.1
  CHANGELOG.md
  pyproject.toml
Labels: config

chore: update GitHub Actions workflow for dependency management
  .github/workflows/dependencies.yml
Labels: actions
