Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

feat: upgrade to django 4 LTS
  .gitignore
  poetry.lock
  pyproject.toml
  src/bot/__init__.py
  src/bot/migrations/0005_alter_notification_send_android_complete_and_more.py
  src/bot/models.py
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/urls.py
Labels: deps, config, source

test: fix tests
  docker/.env.example
  docker/docker-compose.test.yml
  src/bot/tests/test_sln_api.py
Labels: tests, source

fix: linting issues
  src/bot/app/sync/news_sync.py
  src/spacelaunchnow/urls.py
Labels: source

fix: linting and remove launch.json
  .gitignore
  .vscode/launch.json
  poetry.lock
  src/spacelaunchnow/urls.py
Labels: deps, config, source

3.15.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: issues with old memcache
  k8s/helm/templates/web/deployment.yaml
  k8s/helm/values-debug.yaml
  k8s/helm/values-prod.yaml
  k8s/helm/values.yaml
  poetry.lock
  pyproject.toml
Labels: deps, config, k8s

3.15.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: deployment issue
  k8s/helm/templates/web/deployment.yaml
  poetry.lock
Labels: deps, k8s

3.15.2
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: use latest image in prod
  k8s/helm/values-prod.yaml
  poetry.lock
Labels: deps, k8s

3.15.3
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: update LL lib and other services
  .github/workflows/build-master.yml
  .semgrepignore
  CHANGELOG.md
  k8s/kuma/values.yaml
  poetry.lock
  pyproject.toml
  src/version.py
Labels: actions, deps, config, source, k8s

fix: broken shit from LL removal of SLN stuff
  poetry.lock
  src/bot/app/events/social_handler.py
  src/bot/app/notifications/social_handler.py
  src/bot/tests/agency/__init__.py
  src/bot/tests/agency/test_agency_sln_300.py
  src/bot/tests/agency/test_agency_sln_320.py
  src/bot/tests/astronauts/__init__.py
  src/bot/tests/astronauts/test_astronauts.py
  src/bot/tests/launcher/__init__.py
  src/bot/tests/launcher/test_launcher.py
  src/bot/tests/launches/__init__.py
  src/bot/tests/launches/test_launches_sln_300.py
  src/bot/tests/launches/test_launches_sln_310.py
  src/bot/tests/launches/test_launches_sln_320.py
  src/bot/tests/launches/test_launches_sln_330.py
  src/bot/tests/launches/test_launches_sln_340.py
  src/bot/tests/spacecraft_config/__init__.py
  src/bot/tests/spacecraft_config/test_spacecraft_config.py
  src/bot/tests/spacestation/__init__.py
  src/bot/tests/spacestation/test_spacestations.py
  src/bot/tests/test_sln_api.py
  src/bot/utils/util.py
  src/spacelaunchnow/urls.py
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/views/small_launch_card.html
  src/web/views.py
Labels: deps, tests, source

fix: stupid syntax fuckup
  poetry.lock
  src/bot/app/events/social_handler.py
  src/bot/app/notifications/social_handler.py
  src/bot/utils/util.py
  src/web/views.py
Labels: deps, source

3.15.4
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: broken buttons and stuff
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/version.py
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/views/small_launch_card.html
Labels: deps, config, source

feat: add dependabot config
  dependabot.yml
Labels: none

3.16.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: remove old twitter and discord stuff
  src/web/templates/web/500.html
  src/web/templates/web/base.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/news_and_discord.html
  src/web/templates/web/sidebar_no_launches.html
Labels: source

fix: issue with static files with USE_LOCAL_STORAGE
  docker/docker-compose.test.yml
  poetry.lock
  src/app/models.py
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/settings/test.py
  src/spacelaunchnow/urls.py
Labels: deps, tests, source

feat: add staging build environment and fix up models storage
  .github/workflows/build-master.yml
  k8s/helm/values-debug.yaml
  src/app/migrations/0002_alter_appconfig_navigation_drawer_image_and_more.py
  src/app/models.py
Labels: actions, source, k8s

4.0.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: bug with new staging environment
  .github/workflows/build-master.yml
  k8s/helm/values-debug.yaml
  k8s/helm/values-staging.yaml
Labels: actions, k8s

fix: update bucket name
  k8s/helm/values-staging.yaml
Labels: k8s

4.0.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: update poetry
  .github/actions/setup-poetry/action.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

feat: add sentry sdk and configure
  .env.example
  .gitignore
  k8s/helm/templates/crons/cronjob.yaml
  k8s/helm/templates/notification-service/deployment.yaml
  k8s/helm/templates/web/deployment.yaml
  k8s/helm/values-prod.yaml
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source, k8s

chore: add env to testing
  src/spacelaunchnow/settings/test.py
Labels: tests, source

4.1.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: update to latest LL lib
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: update LL
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: update to latest ll
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  src/bot/tests/test_notification_handler.py
  src/spacelaunchnow/settings/__init__.py
  src/web/filters/launch_vehicle_filters.py
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/vehicles/boosters/boosters_search.html
  src/web/templates/web/vehicles/spacestations/spacestations_details.html
  src/web/views.py
Labels: deps, config, tests, source

chore: update helm backend name
  docker/docker-compose.test.yml
  k8s/helm/values-prod.yaml
  k8s/helm/values-staging.yaml
Labels: k8s

feat: migrate to ruff
  .pre-commit-config.yaml
Labels: none

fix: include the rest of the commit
  .github/workflows/python-code-checker.yml
  poetry.lock
  pyproject.toml
  src/app/migrations/0001_initial.py
  src/app/migrations/0002_alter_appconfig_navigation_drawer_image_and_more.py
  src/app/models.py
  src/autoscaler/autoscaler.py
  src/autoscaler/migrations/0001_initial.py
  src/autoscaler/migrations/0002_auto_20210330_1639.py
  src/bot/admin.py
  src/bot/app/events/event_tracker.py
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/launch_event_tracker.py
  src/bot/app/notifications/netstamp_handler.py
  src/bot/app/notifications/notification_handler.py
  src/bot/app/sync/news_sync.py
  src/bot/app/utils.py
  src/bot/apps.py
  src/bot/migrations/0001_initial.py
  src/bot/migrations/0002_auto_20210114_0956.py
  src/bot/migrations/0003_auto_20210330_0038.py
  src/bot/migrations/0004_articlenotification_sent_at.py
  src/bot/migrations/0005_alter_notification_send_android_complete_and_more.py
  src/bot/models.py
  src/bot/utils/util.py
  src/bot/views.py
  src/manage.py
  src/spacelaunchnow/__init__.py
  src/spacelaunchnow/base_models.py
  src/spacelaunchnow/settings/__init__.py
  src/web/admin.py
  src/web/apps.py
  src/web/models.py
  src/web/tests.py
  src/web/views.py
Labels: actions, deps, config, tests, source

4.2.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: add django-silky
  .env.example
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/urls.py
Labels: deps, config, source, k8s

4.3.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: some updates to get silk working
  .github/workflows/build-master.yml
  .gitignore
  docker/README.md
  docker/docker-compose.stack.yml
  k8s/helm/values-staging.yaml
  k8s/memcached/values.yaml
  src/spacelaunchnow/settings/__init__.py
Labels: actions, config, source, k8s

fix: issue with silk not loading
  k8s/README.md
  src/spacelaunchnow/settings/__init__.py
Labels: source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
