Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*

docs(plan): implementation plan for responsive templates and app funnel
  docs/superpowers/plans/2026-08-12-responsive-templates-app-funnel.md
Labels: docs

fix(web): url-encode maps query and set referrer policy on pad embeds
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
Labels: source

feat(web): serve apple-app-site-association for iOS universal links
  src/spacelaunchnow/urls.py
  src/web/tests.py
  src/web/views.py
Labels: tests, source

feat(web): add iOS smart app banner
  src/web/templates/web/base.html
  src/web/tests.py
Labels: tests, source

feat(web): add click-to-play video facade partial
  src/static/css/video-facade.css
  src/static/js/video-facade.js
  src/web/templates/web/base.html
  src/web/templates/web/partials/video_embed.html
  src/web/tests.py
Labels: tests, source

refactor(web): use video facade in starship, event and app pages
  src/web/templates/web/app.html
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/starship/starship_detail.html
  src/web/tests.py
Labels: tests, source

refactor(web): merge mobile homepage into one responsive template
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/partials/video_embed.html
  src/web/tests.py
  src/web/views.py
Labels: tests, source

refactor(web): merge mobile launch detail into one responsive template
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/tests.py
  src/web/views.py
Labels: tests, source

chore(web): drop unused user_agents template load and import
  src/web/templates/web/base.html
  src/web/views.py
Labels: source

chore(web): drop unused tz load and duplicate static load from base template
  src/web/templates/web/base.html
Labels: source

style(web): apply ruff format to web tests
  src/web/tests.py
Labels: tests, source

4.44.0
  CHANGELOG.md
  pyproject.toml
Labels: config

docs(notifications): add V6 topic-targeted delivery spec and server plan
  docs/superpowers/plans/2026-08-13-v6-topic-targeted-notifications-server.md
  docs/superpowers/specs/2026-08-13-v6-topic-targeted-notifications-design.md
Labels: docs

chore: ignore subagent-driven-development scratch directory
  .gitignore
Labels: config

feat(notifications): add V6 agency and location group tables
  src/bot/tests/test_notification_groups.py
  src/bot/utils/notification_groups.py
Labels: tests, source

docs(notifications): require docker image rebuild before targeted test runs
  docs/superpowers/plans/2026-08-13-v6-topic-targeted-notifications-server.md
Labels: docs

docs(notifications): add image rebuild to every targeted test command
  docs/superpowers/plans/2026-08-13-v6-topic-targeted-notifications-server.md
Labels: docs

feat(notifications): add V6 topic names and condition builder
  src/bot/tests/test_v6_topic_conditions.py
  src/bot/utils/util.py
Labels: tests, source

feat(notifications): label sends by audience class and count skips
  src/bot/app/notifications/metrics.py
  src/bot/tests/test_notification_metrics.py
Labels: tests, source

feat(notifications): add V6 per-audience-class launch dispatch
  src/bot/app/notifications/v6.py
  src/bot/tests/test_v6_dispatch.py
Labels: tests, source

docs(notifications): require ruff format before committing task work
  docs/superpowers/plans/2026-08-13-v6-topic-targeted-notifications-server.md
Labels: docs

fix(notifications): pin V6 conditions, cover skip reasons, ruff format
  src/bot/app/notifications/v6.py
  src/bot/tests/test_notification_groups.py
  src/bot/tests/test_v6_dispatch.py
  src/bot/tests/test_v6_topic_conditions.py
  src/bot/utils/notification_groups.py
Labels: tests, source

feat(notifications): dual-send V6 launch notifications alongside V5
  src/bot/app/notifications/notification_handler.py
  src/bot/tests/test_v6_dispatch.py
Labels: tests, source

feat(notifications): dual-send V6 broadcasts for events news and custom
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/tests/test_apns_collapse_id.py
  src/bot/tests/test_v6_dispatch.py
Labels: tests, source

docs(notifications): record V6 dual-send in the delivery matrix
  docs/superpowers/specs/2026-05-25-v5-only-notification-delivery-matrix.md
  docs/superpowers/specs/2026-08-13-v6-topic-targeted-notifications-design.md
Labels: docs

fix(notifications): contain V6 dispatch failures so they cannot reach V5 control flow
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/notification_handler.py
Labels: source

docs(notifications): correct the V6 revision note and dispatch table in the delivery matrix
  docs/superpowers/specs/2026-05-25-v5-only-notification-delivery-matrix.md
Labels: docs

fix(notifications): cap V6 analytics labels, target announce per platform, bound the send timeout, skip unknown types
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/v6.py
  src/bot/tests/test_v6_dispatch.py
  src/bot/tests/test_v6_topic_conditions.py
  src/bot/utils/util.py
Labels: tests, source

test(notifications): make the location group-name assertion symmetric with the agency one
  src/bot/tests/test_notification_groups.py
Labels: tests, source

fix(notifications): split V6 onto its own send counter, dedupe broadcast dispatch, return skip reasons, and separate the location catch-all from the user-facing groups
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/custom.py
  src/bot/app/notifications/metrics.py
  src/bot/app/notifications/news_notification_handler.py
  src/bot/app/notifications/notification_handler.py
  src/bot/app/notifications/v5.py
  src/bot/app/notifications/v6.py
  src/bot/utils/notification_groups.py
  src/bot/utils/util.py
Labels: source

test(notifications): pin the ID-to-group tables, counter separation, and V6 failure containment
  src/bot/tests/test_apns_collapse_id.py
  src/bot/tests/test_notification_groups.py
  src/bot/tests/test_notification_metrics.py
  src/bot/tests/test_v6_dispatch.py
  src/bot/tests/test_v6_topic_conditions.py
Labels: tests, source

docs(notifications): record the review outcomes, catch-all asymmetry, and india rename in the V6 spec and delivery matrix
  docs/superpowers/specs/2026-05-25-v5-only-notification-delivery-matrix.md
  docs/superpowers/specs/2026-08-13-v6-topic-targeted-notifications-design.md
Labels: docs

feat(notifications): add the shared V6 topic contract with server conformance tests
  .gitignore
  src/bot/contracts/notification-topics.v6.json
  src/bot/tests/test_topic_contract.py
Labels: config, tests, source

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat(notifications): fan V6 launch sends out on a bounded thread pool
  src/bot/app/notifications/notification_handler.py
  src/bot/app/notifications/v6.py
  src/bot/tests/test_v6_dispatch.py
Labels: tests, source

4.45.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(v6): exclude starlinkMuted subscribers from Starlink launch sends except failures
  src/bot/app/notifications/v6.py
  src/bot/contracts/notification-topics.v6.json
  src/bot/tests/test_topic_contract.py
  src/bot/tests/test_v6_dispatch.py
  src/bot/tests/test_v6_topic_conditions.py
  src/bot/utils/util.py
Labels: tests, source

style(v6): apply ruff formatting to the mute tests
  src/bot/tests/test_topic_contract.py
  src/bot/tests/test_v6_topic_conditions.py
Labels: tests, source

4.46.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update canonical and Open Graph URLs for upcoming launches
  src/web/templates/web/launches/launches_upcoming.html
  src/web/tests.py
  src/web/views.py
Labels: tests, source
