Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

feat(admin): add IS_ADMIN_ONLY mode with dynamic sln_api DB routing
  src/sln_api/__init__.py
  src/sln_api/admin.py
  src/sln_api/apps.py
  src/sln_api/models.py
  src/sln_api/routers.py
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.36.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: bump to rebuild image
  README.md
Labels: docs

4.36.1
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add health check endpoint to URL configuration
  src/spacelaunchnow/urls.py
Labels: source

fix: format and lint
  src/spacelaunchnow/urls.py
Labels: source

4.37.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: add timezone detection endpoint to default URLs
  src/spacelaunchnow/urls.py
Labels: source

4.37.1
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(admin): add rich display methods to SLN LaunchAdmin
  src/sln_api/admin.py
Labels: source

fix: improve formatting in LaunchAdmin for status and orbit display
  src/sln_api/admin.py
Labels: source

4.38.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(admin): replace date_hierarchy bar with year dropdown filter on launches
  src/sln_api/admin.py
Labels: source

fix(admin): add a blank line for improved readability in LaunchNetYearFilter
  src/sln_api/admin.py
Labels: source

4.38.1
  CHANGELOG.md
  pyproject.toml
Labels: config

feat(admin): add date range filters for launches and events
  src/sln_api/admin.py
Labels: source

4.39.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix(autoscaler): update minimum and maximum pod counts for DigitalOcean autoscaling
  src/autoscaler/digitalocean_helper.py
Labels: source

4.39.1
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(settings): update CACHALOT_TIMEOUT to improve cache efficiency and adjust MAX_POD_COUNT for KEDA maxReplicaCount
  src/autoscaler/digitalocean_helper.py
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.39.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(autoscaler): adjust minimum pod count for multi-node and set max pod count ceiling for KEDA
  src/autoscaler/digitalocean_helper.py
Labels: source

4.39.3
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(settings): update CACHALOT_TIMEOUT to reduce cache staleness window
  src/spacelaunchnow/settings/__init__.py
Labels: source

4.39.4
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(autoscaler): adjust minimum pod count for multi-node to improve scaling efficiency
  src/autoscaler/digitalocean_helper.py
Labels: source

4.39.5
  CHANGELOG.md
  pyproject.toml
Labels: config

Remove sln_api app and related models, admin, and router configurations
  poetry.lock
  pyproject.toml
  src/bot/tests/test_sln_api.py
  src/sln_api/__init__.py
  src/sln_api/admin.py
  src/sln_api/apps.py
  src/sln_api/models.py
  src/sln_api/routers.py
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, tests, source

chore(settings): format middleware insertion for better readability
  src/spacelaunchnow/settings/__init__.py
Labels: source

fix(autoscaler): adjust expected worker count and scaling strategy for idle conditions
  src/autoscaler/autoscaler.py
  src/autoscaler/digitalocean_helper.py
Labels: source

fix(autoscaler): update minimum worker calculations and related test assertions
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
Labels: tests, source

4.39.6
  CHANGELOG.md
  pyproject.toml
Labels: config

docs: add V5 news notifications design spec
  docs/superpowers/specs/2026-05-15-v5-news-notifications-design.md
Labels: docs

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix(netstamp_handler): reset notification flags for significant reschedules
  src/bot/app/notifications/netstamp_handler.py
Labels: source

fix(autoscaler): refine pod scaling logic and update tests for max pods calculation
  src/autoscaler/digitalocean_helper.py
  src/autoscaler/tests.py
  src/spacelaunchnow/settings/__init__.py
Labels: tests, source

fix(notification): disable V3 and V4 notification dispatch, retain methods for future re-enablement
  src/bot/app/events/event_tracker.py
  src/bot/app/events/notification_handler.py
  src/bot/app/notifications/launch_event_tracker.py
  src/bot/app/notifications/notification_handler.py
Labels: source

fix(digitalocean_helper): standardize spacing in max_pods_per_node function
  src/autoscaler/digitalocean_helper.py
Labels: source

4.39.7
  CHANGELOG.md
  pyproject.toml
Labels: config

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
