Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*

chore: remove full stack args
  docker/docker-compose.stack.yml
Labels: none

4.3.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: update for country code changes, add prefetches
  poetry.lock
  pyproject.toml
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/views/small_launch_card.html
  src/web/views.py
Labels: deps, config, source

4.4.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: misuse of a bunch of images for events
  src/bot/app/events/notification_handler.py
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/events/event_list.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/starship/starship_detail.html
Labels: source

4.4.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: events page load times and remove twitter widget
  src/web/templates/web/404.html
  src/web/templates/web/events/event_list.html
  src/web/templates/web/sidebar_full.html
  src/web/views.py
Labels: source

4.4.2
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: update to latest LL version
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: bump LL version
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: bump ll version
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: images in event list
  src/web/views.py
Labels: source

4.4.3
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: update to latest LL
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: silly
  poetry.lock
Labels: deps

4.4.4
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: spacecraft not rendering
  src/web/templates/web/launches/launch_detail_page.html
Labels: source

4.4.5
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: bump LL version
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: bump LL version
  poetry.lock
  pyproject.toml
  src/app/migrations/0001_initial.py
  src/app/migrations/0002_alter_appconfig_navigation_drawer_image_and_more.py
  src/app/models.py
  src/custom_storages.py
  src/sln_custom_storages.py
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

chore: fix lint issue
  src/app/migrations/0002_alter_appconfig_navigation_drawer_image_and_more.py
Labels: source

chore: fix import issues - bring prefetches back
  src/app/migrations/0002_alter_appconfig_navigation_drawer_image_and_more.py
  src/bot/management/commands/load_sln_data.py
  src/prefetches.py
  src/web/views.py
Labels: source

fix: issue with removed instagram and twitter links
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/views.py
Labels: source

build: try to fix build
  .github/actions/setup-poetry/action.yml
  poetry.lock
Labels: actions, deps

ci: fix build issues
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: deps, config

4.4.6
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: bump LL version
  poetry.lock
  pyproject.toml
  src/bot/tests/test_sln_api.py
Labels: deps, config, tests, source

chore: update astronauts image, update poetry and gitignore
  .gitignore
  docker/README.md
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
Labels: config, source

chore: update env name
  k8s/helm/templates/crons/cronjob.yaml
  k8s/helm/templates/notification-service/deployment.yaml
  k8s/helm/templates/web/deployment.yaml
Labels: k8s

chore: bump LL, move to python 3.12, Debian 12, etc
  .history/pyproject_20240730105246.toml
  .history/pyproject_20240730105614.toml
  Dockerfile
  poetry.lock
Labels: deps

Revert "chore: bump LL, move to python 3.12, Debian 12, etc"
  .history/pyproject_20240730105246.toml
  .history/pyproject_20240730105614.toml
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: bump LL, debian and python
  .gitignore
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: deps, config

chore: fix dockerfile base image
  Dockerfile
Labels: none

update prod s3
  k8s/helm/values-prod.yaml
Labels: k8s

Update values-staging.yaml
  k8s/helm/values-staging.yaml
Labels: k8s

fix(library): bump ll library
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

fix(python): update python version 3.12.4
  .github/actions/setup-poetry/action.yml
  .github/workflows/build-master.yml
Labels: actions

fix(build): update build systems python and docker compose changes
  .github/actions/python-test/action.yml
  Makefile
  README.md
  docker/README.md
  k8s/helm/values-prod.yaml
  k8s/helm/values-staging.yaml
Labels: actions, docs, k8s

fix(build): use setup python to setup env
  .github/actions/setup-poetry/action.yml
Labels: actions

4.4.7
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source
