Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

feat: update notification handling and throttle logic for improved user experience
  src/bot/app/notifications/notification_handler.py
Labels: source

4.22.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add contact information section to About Us page
  src/web/templates/web/about/about.html
Labels: source

4.23.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: update SLN URL and enhance LaunchFeed description with additional details
  src/bot/utils/util.py
  src/web/views.py
Labels: source

4.24.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: dns for .me domain
  terraform/deploy.sh
  terraform/dns.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Labels: none

feat: send data message only
  src/bot/app/notifications/notification_handler.py
Labels: source

4.25.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: improve notification handling structure
  src/bot/app/notifications/notification_handler.py
Labels: source

4.26.0
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: update tsd dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: deps, config

4.27.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: just a commit to bump and create a new release with new LL
  poetry.lock
  pyproject.toml
Labels: deps, config

4.28.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update dependencies in pyproject.toml and poetry.lock
  poetry.lock
  pyproject.toml
  test-after.txt
  test-before.txt
  test-outdated.txt
  test-packages.txt
Labels: deps, config

4.28.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

feat: improve notification handling structure and organization
  src/bot/app/notifications/notification_handler.py
Labels: source

4.29.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: enhance launch processing in autoscaler with additional provider tracking
  src/autoscaler/autoscaler.py
Labels: source

fix: tests for autoscaler
  src/autoscaler/tests.py
Labels: tests, source

4.30.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update base image and dependencies
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: update Python base image to 3.12.12-alpine in Dockerfile
  Dockerfile
Labels: none

4.30.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

fix: update django-launch-library version to 21.57.0 in dependencies
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: add apns for background iOS notifications
  src/bot/app/notifications/notification_handler.py
Labels: source

🔄 Update Python dependencies
  poetry.lock
Labels: deps

4.30.2
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
