Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

feat: implement fast linting and Docker image build in CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Labels: actions

refactor: fix docker compose
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Labels: actions

refactor: change test execution
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  Dockerfile.debug
Labels: actions

fix: support both main and master
  .github/workflows/ci.yml
Labels: actions

4.6.0
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update version extraction to use [tool.poetry] section in pyproject.toml
  .github/workflows/ci.yml
Labels: actions

4.6.1
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: replace secrets.GITHUB_TOKEN with github.token in CI workflow
  .github/workflows/ci.yml
Labels: actions

4.6.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: ci process
  .github/workflows/ci.yml
Labels: actions

4.6.3
  CHANGELOG.md
  pyproject.toml
Labels: config

📦 Update app version to v4.6.3.5 [skip ci]
  k8s/helm/Chart.yaml
Labels: k8s

fix: update CI workflow configuration
  .github/workflows/ci.yml
Labels: actions

4.6.4
  CHANGELOG.md
  pyproject.toml
Labels: config

chore: update CI workflow configuration
  .github/workflows/ci.yml
Labels: actions

📦 Update app version to v4.6.4.7 [skip ci]
  k8s/helm/Chart.yaml
Labels: k8s

fix: update CI workflow configuration
  .github/workflows/ci.yml
Labels: actions

4.6.5
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update CI workflow configuration
  .github/workflows/ci.yml
Labels: actions

4.6.6
  CHANGELOG.md
  pyproject.toml
Labels: config

📦 Update app version to v4.6.6.9 [skip ci]
  k8s/helm/Chart.yaml
Labels: k8s

4.6.7
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update CI/CD pipeline configuration for improved deployment process
  .github/workflows/ci.yml
Labels: actions

4.6.8
  CHANGELOG.md
  pyproject.toml
Labels: config

fix: update CI/CD pipeline configuration for improved deployment process
  .github/workflows/ci.yml
Labels: actions

4.6.9
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add production deployment workflow with input validation and notifications
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
Labels: actions

4.7.0
  CHANGELOG.md
  pyproject.toml
Labels: config

refactor: update .dockerignore for improved file exclusions and remove unused dependencies from pyproject.toml
  .dockerignore
  poetry.lock
  pyproject.toml
  src/bot/management/commands/run_check_notifications.py
Labels: deps, config, source

🚀 Promote master-1f9ee75 to production as v2025.07.14
  manifests/apps/production/kustomization.yaml
Labels: none

chore: update promote workflow for improved deployment process
  .github/workflows/promote.yml
Labels: actions

Remove redundant action
  .github/workflows/deploy-production.yml
Labels: actions

chore: update promote workflow for improved deployment process
  .github/workflows/promote.yml
Labels: actions

4.8.0
  CHANGELOG.md
  pyproject.toml
Labels: config

feat: add chatbot page and update URL routing
  src/spacelaunchnow/urls.py
  src/web/templates/web/app/bot.html
Labels: source

feat: add redis as supported cache
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

4.9.0
  CHANGELOG.md
  pyproject.toml
Labels: config

4.10.0
  CHANGELOG.md
  pyproject.toml
Labels: config

Add safety package for dependency vulnerability checks
  .github/workflows/dependencies.yml
  dependabot.yml
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

feat: update Redis cache configuration for improved performance
  src/spacelaunchnow/settings/__init__.py
Labels: source

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
