Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

ci: add semantic release
  .github/workflows/build-release.yml
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/version.py
Labels: actions, deps, config, source

ci: set version
  pyproject.toml
  src/version.py
Labels: config, source

3.2.0
  pyproject.toml
  src/version.py
Labels: config, source

3.3.0
  pyproject.toml
  src/version.py
Labels: config, source

ci: bump the thing
  .github/workflows/build-release.yml
Labels: actions

fix: properly deploy
  .github/workflows/build-release.yml
Labels: actions

3.3.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: update ci tag and smooth rollout
  .github/workflows/build-release.yml
  k8s/helm/values-prod.yaml
Labels: actions, k8s

3.3.2
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: pass namespace
  .github/workflows/build-release.yml
Labels: actions

fix: delay using self-hosted
  .github/workflows/build-release.yml
Labels: actions

3.3.3
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: issue with boolean environment variables not being correct type
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

fix: issue with boolean environment variables not being correct type (#215)
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

3.3.4
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

refactor: remove setup.cfg
  setup.cfg
Labels: none

ci: update workflow
  .github/workflows/python-code-checker.yml
  pyproject.toml
Labels: actions, config

fix: aws endpoint url
  k8s/helm/values-debug.yaml
  k8s/helm/values-prod.yaml
Labels: k8s

fix: aws endpoint url (#216)
  .github/workflows/python-code-checker.yml
  k8s/helm/values-debug.yaml
  k8s/helm/values-prod.yaml
  pyproject.toml
  setup.cfg
Labels: actions, config, k8s

3.3.5
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: remove spacex api sync
  k8s/helm/values-prod.yaml
Labels: k8s

chore: update to latest llapi
  poetry.lock
Labels: deps

fix: properly pass needed envs
  k8s/helm/templates/crons/cronjob.yaml
  k8s/helm/templates/web/deployment.yaml
Labels: k8s

ci: hide config
  .github/workflows/build-release.yml
Labels: actions

3.4.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

ci: update some templates
  k8s/helm/templates/configmap_notification_service.yaml
  k8s/helm/templates/configmap_web.yaml
  k8s/helm/templates/configmap_worker.yaml
Labels: k8s

ci: adding staging and deploy workflows
  .github/workflows/build-master.yml
  .github/workflows/build-release.yml
  .pre-commit-config.yaml
Labels: actions

feat: update deps
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source

ci: fix build
  .github/workflows/build-master.yml
Labels: actions

ci: swap to latest python-semantic-release
  .github/workflows/build-master.yml
  .github/workflows/build-release.yml
Labels: actions

3.5.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

ci: update job name
  .github/workflows/build-release.yml
Labels: actions

feat: bump LL version
  pyproject.toml
Labels: config

fix: run poetry lock
  poetry.lock
Labels: deps

3.6.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

chore: update django-launch-library to version 4.4.1 in pyproject.toml chore: remove security-semgrep.yml workflow file
  .github/workflows/security-semgrep.yml
  poetry.lock
  pyproject.toml
Labels: actions, deps, config

ci: remove flightclub job
  k8s/helm/values-prod.yaml
Labels: k8s

feat: import latest LL with timezone feature
  poetry.lock
  pyproject.toml
Labels: deps, config

3.7.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feature(ll): bump API version for migration and add poetry pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: deps, config

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
