Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

chore: remove cache from index
  poetry.lock
  src/web/views.py
Labels: deps, source

ci: for deploy - only run deployment
  .github/workflows/build-release.yml
Labels: actions

feat: bump min replicas for starship
  k8s/helm/values-prod.yaml
  poetry.lock
Labels: deps, k8s

3.8.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

ci: fix deploy syntax
  .github/workflows/build-release.yml
Labels: actions

fix(web): fix overhang on starship page
  poetry.lock
  src/web/templates/web/views/small_launcher.html
Labels: deps, source

3.8.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: layout of starship dashboard
  src/bot/app/sync/closure_sync.py
  src/web/templates/web/starship/starship_detail.html
Labels: source

3.8.2
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

ci: try to retag image
  .github/workflows/build-release.yml
Labels: actions

ci: skip test check
  .github/workflows/build-release.yml
Labels: actions

ci: fix dependency and pull image
  .github/workflows/build-release.yml
Labels: actions

ci: fix a silly
  .github/workflows/build-release.yml
Labels: actions

chore(notifs): add additional notif logging
  poetry.lock
  src/bot/app/events/event_tracker.py
Labels: deps, source

chore(ll): bump LL API version
  poetry.lock
Labels: deps

feat: bump LL update poetry.lock
  poetry.lock
Labels: deps

3.9.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

ci: make it so that you can trigger a build
  .github/workflows/build-master.yml
Labels: actions

chore: Add registry name to build and update image tags
  .github/workflows/build-master.yml
  .github/workflows/build-release.yml
  k8s/helm/values-debug.yaml
  k8s/helm/values-prod.yaml
  poetry.lock
Labels: actions, deps, k8s

build: Update poetry installation to version 1.4.1
  .github/actions/setup-poetry/action.yml
  Dockerfile
  poetry.lock
Labels: actions, deps

feat: use precision field in launches and events
  .vscode/launch.json
  poetry.lock
  src/static/material_kit/js/moment-timezone.min.js
  src/web/templates/web/base.html
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/events/event_list.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
Labels: deps, source

3.10.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: update to ll 4.12.0
  poetry.lock
Labels: deps

3.11.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: add logging and handle news sync better
  .gitignore
  poetry.lock
  src/bot/app/events/event_tracker.py
  src/bot/app/sync/news_sync.py
Labels: deps, config, source

chore: bump semantic release
  .github/workflows/build-master.yml
Labels: actions

3.12.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: Fixed a number of issues with closure scraper
  src/bot/app/sync/closure_sync.py
Labels: source

chore: Revert parse_date function
  src/bot/app/sync/closure_sync.py
Labels: source

feat: remove road closure
  k8s/helm/values-prod.yaml
  src/bot/app/sync/closure_sync.py
  src/bot/management/commands/run_update_closures.py
Labels: source, k8s

3.13.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: use latest ll lib
  poetry.lock
  pyproject.toml
Labels: deps, config

fix(sitemaps): locally own sitemaps
  src/app/sitemaps.py
  src/spacelaunchnow/urls.py
Labels: source

3.13.1
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: bump LL version
  poetry.lock
Labels: deps

3.13.2
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

fix: update libs and helm
  k8s/helm/templates/web/hpa.yaml
  k8s/kuma/values.yaml
  poetry.lock
Labels: deps, k8s

3.13.3
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

feat: migrate to snapi v4
  .gitignore
  src/bot/app/sync/news_sync.py
Labels: config, source

3.14.0
  CHANGELOG.md
  pyproject.toml
  src/version.py
Labels: config, source

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
