Repository ItsCalebJones/SpaceLaunchNow-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, source, k8s

4.46.1
  CHANGELOG.md
  pyproject.toml
Labels: config

🔄 Update Python dependencies
  poetry.lock
Labels: deps

🔄 Update Python dependencies
  poetry.lock
Labels: deps

perf(api): round datetime range filters so launch-day queries hit cachalot
  src/spacelaunchnow/middleware.py
  src/spacelaunchnow/settings/__init__.py
  src/spacelaunchnow/tests_middleware.py
Labels: tests, source

4.46.2
  CHANGELOG.md
  pyproject.toml
Labels: config

fix(web): add missing trailing slashes to internal links, canonicals and sitemaps
  src/app/sitemaps.py
  src/templates/registration/login.html
  src/templates/registration/signup.html
  src/templates/zinnia/base.html
  src/web/templates/web/404.html
  src/web/templates/web/500.html
  src/web/templates/web/about/about.html
  src/web/templates/web/app.html
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/base.html
  src/web/templates/web/events/event_detail.html
  src/web/templates/web/events/event_list.html
  src/web/templates/web/index.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launches_previous.html
  src/web/templates/web/launches/launches_table.html
  src/web/templates/web/launches/launches_upcoming.html
  src/web/templates/web/navigation.html
  src/web/templates/web/starship/starship_detail.html
  src/web/templates/web/vehicles/boosters/booster_detail.html
  src/web/templates/web/vehicles/boosters/booster_list.html
  src/web/templates/web/vehicles/boosters/boosters_search.html
  src/web/templates/web/vehicles/index.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicle_detail.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicles_list.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_list.html
  src/web/templates/web/vehicles/spacestations/spacestations_details.html
  src/web/templates/web/vehicles/spacestations/spacestations_list.html
  src/web/templates/web/views/previous_launches.html
  src/web/templates/web/views/small_launch_card.html
  src/web/templates/web/views/small_launcher.html
  src/web/templates/web/views/small_space_station.html
  src/web/tests.py
Labels: tests, source

4.46.3
  CHANGELOG.md
  pyproject.toml
Labels: config

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
tests:
  - src/**/test*.py
source:
  - src/**/*
k8s:
  - k8s/**/*
