Repository ItsCalebJones/SpaceLaunchNow-Server, pull requests merged in 2024-08, with the labels that each got.

#256 fix(library): bump ll library
  .github/actions/python-test/action.yml
  .github/actions/setup-poetry/action.yml
  .github/workflows/build-master.yml
  Makefile
  README.md
  docker/README.md
  k8s/helm/values-prod.yaml
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source, actions, k8s, docs

#255 chore: update s3 bucket
  k8s/helm/values-prod.yaml
  k8s/helm/values-staging.yaml
Labels: k8s

#257 chore: Update storage bucket name in values-staging.yaml and reliably…
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/app/tests.py
  src/bot/utils/version.py
  src/spacelaunchnow/settings/__init__.py
Labels: deps, config, source, k8s, tests

#259 chore: disable silky for staging environment
  k8s/helm/values-staging.yaml
Labels: k8s

#260 chore: remove sorl.thumbnail from installed apps and templates
  k8s/helm/values-staging.yaml
  poetry.lock
  pyproject.toml
  src/spacelaunchnow/settings/__init__.py
  src/web/templates/web/about/staff.html
  src/web/templates/web/about/translators.html
  src/web/templates/web/astronaut/astronaut_detail.html
  src/web/templates/web/astronaut/astronaut_list.html
  src/web/templates/web/astronaut/astronaut_search.html
  src/web/templates/web/base.html
  src/web/templates/web/index.html
  src/web/templates/web/index_mobile.html
  src/web/templates/web/launches/launch_detail_page.html
  src/web/templates/web/launches/launch_detail_page_mobile.html
  src/web/templates/web/launches/launches_previous.html
  src/web/templates/web/launches/launches_upcoming.html
  src/web/templates/web/starship/starship_detail.html
  src/web/templates/web/vehicles/boosters/booster_detail.html
  src/web/templates/web/vehicles/boosters/booster_list.html
  src/web/templates/web/vehicles/boosters/boosters_search.html
  src/web/templates/web/vehicles/index.html
  src/web/templates/web/vehicles/launch_vehicle/launch_vehicle_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_detail.html
  src/web/templates/web/vehicles/spacecraft/spacecraft_list.html
  src/web/templates/web/vehicles/spacestations/spacestations_details.html
  src/web/templates/web/vehicles/spacestations/spacestations_list.html
  src/web/templates/web/views/small_launch_card.html
  src/web/templates/web/views/small_space_station.html
Labels: deps, config, source, k8s

#261 chore: refactor next_launch view to improve performance and remove un…
  src/web/views.py
Labels: source

#262 chore: update python-semantic-release to v9.8.6
  .github/workflows/build-master.yml
Labels: actions

#263 chore(ll): bump lib version
  poetry.lock
  pyproject.toml
Labels: deps, config
